@font-face {font-family: jua; src: url("../font/BMJUA_ttf.ttf");}
* {margin:0; padding:0; box-sizing: border-box;} /* 마진 리셋, 패딩 리셋, 박스 영역은 테두리까지 */                         /* 텍스트 링크 밑줄 없애기 */
ul {list-style: none;}

#container {
  width: 100%;
  margin: 0 auto;
}
/* 헤더 영역 - 로고와 내비게이션 */
header {
  width: 100%;
  height: 4em;
  background-color: #8F8EBF; 
  border: none;
  z-index: 9999;
  margin-bottom: 1em;
}
body{
  width: 100%; 
  background-color: rgb(190, 190, 190);
}
h1 {
  display: block; 
  padding-left: 20%; 
  font-size: 25px; 
  font-family: jua;} /* 본문 속성 */
p{
  display: block;
  font-family: jua;}
/* 로고 */
#topMenu {position: absolute; left: 50%; transform: translateX(-50%);}
#topMenu > li {float: left;}
#topMenu > li > a {
  color:white;
}
#topMenu > li > a:hover {
  color: rgb(190, 190, 190);
}

/* 본문 */
#cont_left{
  margin: 0 auto;
  width: 80%;
  border:1px solid black;
  border-radius: 1em;
  background-color: white;
  margin-bottom: 80px;
}
#btn input:hover{
  background-color: rgb(140, 140, 140);
}
#btn input{
  cursor: pointer;
  font-family: jua; font-size: 16px;
  margin: 5px;
}

/*****************/
/*  Roll 영역  */
/*****************/
#onebox,#twobox,#threebox,#fourbox,#fivebox,
#sixbox,#sevenbox,#eightbox,#ninebox,#tenbox{
  display: inline-block;
  margin: 5px;
  background-color: white;
  width: 128px;
  height: 50px;
  border:1px solid black;
}
#radioBlock{
  display: inline-block;
  margin: 5px;
  background-color: white;
  width: 200px;
  height: 255px;
  border:1px solid black;
}
#radio{
  font-size: 17px;
  font-family: jua;
  margin: 5px;
}
 /* 체크 박스 속성*/
 #checkboxBlock{
  display: inline-block;
  margin: 5px;
  background-color: white;
  width: 200px;
  height: 255px;
  border:1px solid black;
 }
 #checkbox{
  font-family: jua;
  margin: 5px;
}
/* PC Page 본문 속성 */
#spantext{
  font-size: 3em; font-family: jua;
  margin:  5px;
}
@media (max-width:800px)
{#spantext{
  font-size: 1em; font-family: jua;
  margin:  5px;
}}
#resetTEXT{
  font-family: jua;
  border-bottom: 2px solid;
}
#resetBT1{
  background-color: #1A73E8;
  color: white;
  cursor: pointer;
}


/******************/
/*   푸터 영역    */
/******************/

footer{
  width:100%;
  height:70px; 
  background-color:#8F8EBF; 
  position:fixed; bottom : 0;
}
#bottomMenu{
  width:100%;
  height:45px;
}
#bottomMenu ul {
  margin-top:15px;  
}
#bottomMenu ul li{
  float: left;  /* 가로로 배치 */ 
  padding:5px 20px;
  border-right:1px solid white;   /* 항목 오른쪽에 테두리 */ }
#bottomMenu
#bottomMenu ul li:last-child{
  border:none;  /* 마지막 항목에는 오른쪽 테두리 없음 */  
}
#bottomMenu ul li a{  
  font-family: jua;
  font-size:15px;  /* 글자 크기 */ 
  color:rgb(71, 71, 71);   /* 글자 색 */ 
}



.box{
  margin: 0 auto;
  border: black solid 1px;
  width: 100px;
  height: 100px;
  overflow-y: scroll;
  transform: rotate(-90deg);
  -ms-overflow-style: none;
}
.box::-webkit-scrollbar{
  display:none; /* 스크롤바 UI삭제 */
}
.boxbox{
  transform: rotate(90deg); /* boxbox만 90도 돌림*/
  margin-top:100px; 
  border: black solid 1px;
}



/*-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none    text-decoration:none;*/