@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Oswald:wght@200&family=Roboto&display=swap');
@font-face {font-family: jua; src: url("../font/BMJUA_ttf.ttf");}
* {margin:0; padding:0; box-sizing: border-box; } /* 마진 리셋, 패딩 리셋, 박스 영역은 테두리까지 */
a {text-decoration:none;}                         /* 텍스트 링크 밑줄 없애기 */
ul {list-style: none;}

#container {
  position: relative;
  width: 1340px;
  padding: 20px 30px;
  margin: 0 auto;
}

/* 헤더 영역 - 로고와 내비게이션 */
header {
  width: 100%;
  height: 75px;
  background-color: #8F8EBF; 
  border: none;
  z-index: 9999;
  position: fixed; top : 0; right:0; left: 0;
}
body{
  width: 100%; 
  background-color: rgb(190, 190, 190);
  padding-top: 75px;
}
h1 {display: block; padding-left: 320px; font-size: 25px; font-family: jua; 
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none} /* 본문 속성 */
h2 {color:white; line-height:75px; float: left; font-size: 30px; position: fixed; left: 320px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none} /* 로고 속성 */
a {-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none} /* 메뉴 및 링크 속성 */
p{display: block; font-size: 25px; font-family: jua; 
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none}
/* 로고 */
#wrapper {width: 1920px; height: auto; margin:0 auto;}
#topMenu {float:right; height:45px; position: fixed; right:320px;}
#topMenu > li {float: left;}
#topMenu > li > a {line-height: 75px; color:white; padding:0 15px; display: block;}
#topMenu > li > a:hover {color: rgb(190, 190, 190);}

/* 본문 */
#cont_left{
  float: left;
  width: 750px;
  border:1px solid black;
  background-color: white;
  margin-bottom: 80px;
  -webkit-user-select:none; -moz-user-select:none;
  -ms-user-select:none; user-select:none
}
#cont_leftp2{
  float: left;
  width: 750px;
  border:1px solid black;
  background-color: white;
  text-align: center;
  margin-right: 50px;
  font-family: jua;
  -webkit-user-select:none; -moz-user-select:none;
  -ms-user-select:none; user-select:none
}
#cont_right{
  float: right;
  width: 350px;
  height: 55px;
  border:1px solid black;
  background-color: white;
  margin-bottom: 80px;
  -webkit-user-select:none; -moz-user-select:none;
  -ms-user-select:none; user-select:none
}
#login{
  position: relative; right: 70px;
}
#log_in{
  float: right;
  text-align: right;
}
#btn input:hover{
  background-color: rgb(140, 140, 140);
}
#btn input{
  cursor: pointer;
  font-family: jua; font-size: 16px;
  margin: 5px;
  -webkit-user-select:none; -moz-user-select:none;
  -ms-user-select:none; user-select:none
}

/*****************/
/*  Roll 영역  */
/*****************/
#onebox,#twobox,#threebox,#fourbox,#fivebox,
#sixbox,#sevenbox,#eightbox,#ninebox,#tenbox{
  display: inline-block;
  margin: 5px;
  background-color: white;
  width: 128px;
  height: 50px;
  border:1px solid black;
}


 /* 체크 박스 속성*/
#checkbox{
  font-family: jua;
  margin: 5px;
  -webkit-user-select:none; -moz-user-select:none;
  -ms-user-select:none; user-select:none
}
/* PC Page 본문 속성 */
#spantext{
  font-size: 36px; font-family: jua;
  margin:  5px;
  -webkit-user-select:none; -moz-user-select:none;
  -ms-user-select:none; user-select:none
}
#resetTEXT{
  font-family: jua;
  border-bottom: 2px solid;
  -webkit-user-select:none; -moz-user-select:none;
  -ms-user-select:none; user-select:none
}
#resetBT1{
  background-color: #1A73E8;
  color: white;
  cursor: pointer;
}


/******************/
/*   푸터 영역    */
/******************/

footer{
  width:100%;
  height:70px; 
  background-color:#8F8EBF; 
  position:fixed; bottom : 0;
}
#bottomMenu{
  width:100%;
  height:45px;
}
#bottomMenu ul {
  margin-top:15px;  
}
#bottomMenu ul li{
  float: left;  /* 가로로 배치 */ 
  padding:5px 20px;
  border-right:1px solid white;   /* 항목 오른쪽에 테두리 */ 
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none}
#bottomMenu
#bottomMenu ul li:last-child{
  border:none;  /* 마지막 항목에는 오른쪽 테두리 없음 */  
}
#bottomMenu ul li a{  
  font-family: jua;
  font-size:15px;  /* 글자 크기 */ 
  color:rgb(71, 71, 71);   /* 글자 색 */ 
}