* {margin: 0px; padding: 0px;}
/* 카드 속성 */
#todo-card1{
  margin: 0 auto;
  width: 90%;
  max-width: 500px;
  min-width: 336px;
  height: 150px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  -webkit-user-select:none; -moz-user-select:none;
  -ms-user-select:none; user-select:none;
}
#todo-card2{
  position: absolute; left: 50%;
  width: 280px;
  box-shadow: 1px;
  border-radius: 8px;
  margin-left: -140px;
  margin-top: 196px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  -webkit-user-select:none; -moz-user-select:none;
  -ms-user-select:none; user-select:none
}
#todo-card3{
  position: absolute; left: 50%;
  width: 280px;
  box-shadow: 1px;
  border-radius: 8px;
  margin-left: -140px;
  margin-top: 416px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  -webkit-user-select:none; -moz-user-select:none;
  -ms-user-select:none; user-select:none
}
#todo-card4{
  position: absolute; left: 50%;
  width: 280px;
  box-shadow: 1px;
  border-radius: 8px;
  margin-left: -140px;
  margin-top: 626px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  -webkit-user-select:none; -moz-user-select:none;
  -ms-user-select:none; user-select:none
}
#todo-card5{
  position: absolute; left: 50%;
  width: 280px;
  box-shadow: 1px;
  border-radius: 8px;
  margin-left: -140px;
  margin-top: 926px;
  margin-bottom: 20px;
  background-image: url(img/Property\ 1=card-cover-image-inside.png);
  -webkit-user-select:none; -moz-user-select:none;
  -ms-user-select:none; user-select:none
}
#todo-card6{
  position: absolute; left: 50%;
  width: 280px;
  box-shadow: 1px;
  border-radius: 8px;
  margin-left: -140px;
  margin-top: 1102px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  -webkit-user-select:none; -moz-user-select:none;
  -ms-user-select:none; user-select:none
}
#todo-card7{
  position: absolute; left: 50%;
  width: 280px;
  box-shadow: 1px;
  border-radius: 8px;
  margin-left: -140px;
  margin-top: 1336px;
  margin-bottom: 20px;
  background-image: url(img/Property\ 1=card-cover-image-inside1.png);
  -webkit-user-select:none; -moz-user-select:none;
  -ms-user-select:none; user-select:none
}
#todo-card8{
  position: absolute; left: 50%;
  width: 280px;
  border-radius: 8px;
  margin-left: -140px;
  margin-top: 1570px;
  margin-bottom: 20px;
  background-color: #373A3C;
  -webkit-user-select:none; -moz-user-select:none;
  -ms-user-select:none; user-select:none
}
.test1{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
/* 컨텐트 박스 속성 */
#card1-contents1,#card2-contents1,#card3-contents1,#card8-contents1,
#card4-contents1,#card5-contents1,#card6-contents1,#card7-contents1{
  display: inline-block;
  width: 240px;
  height: 18px;
  margin-top: 16px;
  margin-left: 20px;
#card1-contents2,#card2-contents2,#card3-contents2,#card8-contents2,
#card4-contents2,#card5-contents2,#card6-contents2,#card7-contents2{
  display: inline-block;
  width: calc(100% - 40px);
  margin: 18px 0px;
  padding: 0 20px;
  background: #00ff00;
}
#top-bar{
  background-color: #3192CA;
  width: 100%;
  height: 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#top-img img{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#menu_img1{
  width: 240px;
  height: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
#menu_img2{
  width: 240px;
  height: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
#img11,#img21{
  float: left;
}
#img12,#img13,#img22,#img23{
  float: right;
  margin-left: 20px;
}
  
/*컨텐츠 박스 폰트 설정 */
#card1-contents1 p,#card2-contents1 p,#card3-contents1 p
#card4-contents1 p,#card6-contents1 p{
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
}
#card8-contents1 p,#card5-contents1 p,#card7-contents1{
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
#card1-contents2 p,#card2-contents2 p,#card3-contents2 p,
#card4-contents2 p,#card6-contents2 p{
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #797979;
}
#card8-contents2 p,#card5-contents2 p,#card7-contents2{
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
#time{
  display: inline-block;
  width: 240px; height: 18px;
  margin-left: 20px;
  margin-bottom: 20px;
}
#time-white{
  display: inline-block;
  width: 240px; height: 18px;
  margin-left: 20px;
  margin-bottom: 20px;
  color: #FFFFFF;
}
#time span{
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 15px;
  vertical-align: bottom;
  letter-spacing: 0.05em;
  color: #222222;
}
#time-white span{
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 15px;
  vertical-align: bottom;
  letter-spacing: 0.05em;
}
#time img,#time-white img{
  vertical-align: bottom;
  padding-right: 12px;
}
#tag1{
  width: 100%;
  margin-left: 20px;
  flex-wrap: nowrap;
  margin-bottom: 30px;
}
#tag2{
  width: 100%;
  margin-left: 20px;
  flex-wrap: nowrap;
  margin-bottom: 56px;
}
#tag1-box1{
  float: left;
  width: 74px; height: 10px;
  background-color: #3192CA;
  border-radius: 4px;
  margin-right: 20px;
}
#tag1-box2{
  float: left;
  width: 35px; height: 10px;
  background-color: #B7825A;
  border-radius: 4px;
  margin-right: 20px;
}
#tag1-box3{
  float: left;
  width: 35px; height: 10px;
  background-color: #74CA31;
  border-radius: 4px;
  margin-right: 20px;
}
#tag1-box4{
  float: left;
  width: 56px; height: 10px;
  background-color: #7B61FF;
  border-radius: 4px;
  margin-right: 20px;
}
#tag2-box1{
  line-height: 32px;
  float: left;
  width: 74px; height: 36px;
  background-color: #3192CA;
  border-radius: 4px;
  margin-right: 20px;
  color: #FFFFFF;
  text-align: center;
  font-family: "roboto";
}
#tag2-box2{
  line-height: 32px;
  float: left;
  width: 35px; height: 36px;
  background-color: #B7825A;
  border-radius: 4px;
  margin-right: 20px;
  color: #FFFFFF;
  text-align: center;
}
#tag2-box3{
  line-height: 32px;
  float: left;
  width: 35px; height: 36px;
  background-color: #74CA31;
  border-radius: 4px;
  margin-right: 20px;
  color: #FFFFFF;
  text-align: center;
}
#tag2-box4{
  line-height: 32px;
  float: left;
  width: 56px; height: 36px;
  background-color: #7B61FF;
  border-radius: 4px;
  margin-right: 20px;
  color: #FFFFFF;
  text-align: center;
}}