* {margin: 0px; padding: 0px;}
ul {list-style: none;}
/* 카드 속성 */
.todo_card{
  margin: 0 auto;
  width: 80%;
  max-width: 500px;
  min-width: 336px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  -webkit-user-select:none; -moz-user-select:none;
  -ms-user-select:none; user-select:none;
}
/* 컨텐츠 박스 속성 */
.card_contents1{
  display: inline-block;
  width: 240px; 
  height: 18px;
  margin-top: 16px;
  margin-left: 20px;
}
.card_contents2{
  display: inline-block;
  width: calc(100% - 40px);
  margin: 18px 0px;
  padding: 0 20px;
}
/* 상단 이미치 & 단색 속성*/
.top_bar{
  width: 100%;
  height: 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.top_img img{
  max-width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/* 하단 이미지 버튼 속성*/
.menu_img{
  width: 100%;
  height: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
.img1{
  float: left;
  padding-left: 20px;
}
.img2{
  float: right;
  margin-left: 20px;
  padding-right: 20px;
}
  
/*컨텐츠 박스 폰트 설정 */
.card_contents1 p{
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
}
.card_contents2 p{
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #797979;
}
/* 시간 영역 */
.time{
  display: inline-block;
  width: 240px; height: 18px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.time span{
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 15px;
  vertical-align: bottom;
  letter-spacing: 0.05em;
  color: #222222;
}
.time img{
  vertical-align: bottom;
  padding-right: 12px;
}
/* 태그 영역 */
.tag{
  width: 100%;
  height: auto;
  min-height: 10px;
  overflow-x: scroll; 
  white-space: nowrap;
  -ms-overflow-style: none;
}
.tag::-webkit-scrollbar{
  display:none;
}
.tag_box{
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}
.tag_text{
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 10px;
}